#student-section{
    width: 100vw;
    height: 100vh;
    padding: 40px;
    position: absolute;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    background: pink;
}

#txtId, #txtName, #txtEmail, #txtCity, #txtLevel{
    width: 35vw;
}

button{
    width: 100px;
    margin-right: 10px;
}
